<ng-container [ngSwitch]="type">
    <!-- Checkbox -->
    <input *ngSwitchCase="'checkbox'" type="checkbox" [id]="id" [checked]="value" [disabled]="false"
        (change)="onInput($event)" (blur)="onTouch()" class="checkbox-input" />

    <!-- Radio -->
    <input *ngSwitchCase="'radio'" type="radio" [id]="id" [name]="name" [value]="value" (change)="onInput($event)"
        (blur)="onTouch()" class="radio-input" />

    <!-- Text / Default -->
    <div *ngSwitchDefault class="input-wrapper">
        <label *ngIf="label" [for]="id" class="input-label" [class.text-destructive]="error">
            {{ label }}
            <span *ngIf="required" class="required-mark">*</span>
        </label>

        <input [type]="type" [id]="id" [value]="value" (input)="onInput($event)" (blur)="onTouch()" class="text-input"
            [class.input-error]="error" />

        <p *ngIf="description && !error" class="input-description">{{ description }}</p>
        <p *ngIf="error" class="input-error-msg">{{ error }}</p>
    </div>
</ng-container>